@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, #83B3D3, #68A2CA);
  border: 0px solid transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #091221;
  border: 0px none #ffffff;
}
:root {
  --color-basic: #000000;
  --color-basic-20: rgba(0, 0, 0, 0.2);
  --color-basic-30: rgba(0, 0, 0, 0.3);
  --color-basic-60: rgba(0, 0, 0, 0.6);
  --color-second: #333333;
  --color-default: #ffffff;
  --color-default-30: rgba(255, 255, 255, 0.3);
  --color-error: #ff5757;
  --button-color-basic: #756157;
  --button-color-basic-30: rgba(117, 97, 87, 0.3);
  --button-color-basic-dark: #615048;
  --button-color-second: #82b3d3;
  --button-color-second-dark: #68a2ca;
  --button-color-second-dark-30: rgba(104, 162, 202, 0.3);
  --button-color-select: #7db54f;
  --button-color-select-dark: #6c9e42;
  --background-color-second: #83b3d3;
  --background-color-second-12: rgba(131, 179, 211, 0.12);
  --background-color-second-20: rgba(131, 179, 211, 0.2);
  --background-color-second-50: rgba(131, 179, 211, 0.5);
  --icon-color-basic: #68a2ca;
  --forms-color: #3f5e72;
  --forms-color-action: #e6e6e6;
  --forms-color-elements-1: #e5e5e5;
  --forms-color-elements-2: #f2f2f2;
  --text-bold: 700;
  --size-small: 16px;
  --size-small-2: 18px;
  --size-medium: 20px;
  --size-medium-2: 21px;
  --size-medium-3: 24px;
  --size-medium-4: 28px;
  --size-large: 30px;
  --size-large-2: 36px;
}
.heading-1 {
  font-weight: var(--text-bold);
  font-size: 60px;
  line-height: 78px;
}
.heading-2-uppercase {
  font-weight: var(--text-bold);
  font-size: var(--size-large);
  line-height: var(--size-large-2);
  text-transform: uppercase;
}
.heading-3-uppercase {
  font-weight: var(--text-bold);
  font-size: var(--size-medium-3);
  line-height: var(--size-medium-4);
  text-transform: uppercase;
}
.heading-3 {
  font-weight: var(--text-bold);
  font-size: var(--size-medium-3);
  line-height: var(--size-medium-4);
}
.heading-4 {
  font-weight: var(--text-bold);
  font-size: var(--size-medium);
  line-height: var(--size-medium-3);
}
.text-big {
  font-size: 40px;
  line-height: 40px;
}
.text-medium {
  font-size: var(--size-small-2);
  line-height: var(--size-medium-2);
}
.text-small {
  font-size: var(--size-small);
  line-height: var(--size-medium-2);
}
.text-input {
  font-size: var(--size-small-2);
  line-height: var(--size-medium-3);
}
html {
  height: 100%;
}
body {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-basic);
  background-color: var(--forms-color-elements-2);
  margin: 0;
  min-height: 100%;
  min-width: 1280px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--color-default);
  box-shadow: 0 0 15px var(--color-basic-20);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.margin-0 {
  margin: 0;
}
.button {
  font-family: inherit;
  color: var(--color-default);
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  border: none;
  border-radius: 4px;
  padding: 8px 35px;
  cursor: pointer;
}
.button-bold {
  font-weight: var(--text-bold);
}
.button-uppercase {
  text-transform: uppercase;
}
.button-big {
  font-size: var(--size-medium);
  line-height: var(--size-large-2);
  padding: 8px 50px;
}
.button-small {
  font-size: var(--size-small);
  line-height: var(--size-medium);
  padding: 8px 18px;
}
.button:not([disabled]):not(.button-rating):active {
  color: var(--color-default-30);
}
.button[disabled] {
  background-color: var(--forms-color-elements-1);
}
.button-basic {
  background-color: var(--button-color-basic);
}
.button-basic:not([disabled]):is(:hover, :focus) {
  background-color: var(--button-color-basic-dark);
}
.button-second {
  background-color: var(--button-color-second);
}
.button-second:not([disabled]):is(:hover, :focus) {
  background-color: var(--button-color-second-dark);
}
.button-select {
  background-color: var(--button-color-select);
}
.button-select:not([disabled]):is(:hover, :focus) {
  background-color: var(--button-color-select-dark);
}
.button-rating {
  color: var(--color-second);
  background-color: var(--forms-color-elements-2);
  cursor: default;
}
.button-clear, .button-clear:focus{
  color: var(--color-default);
  background-color: transparent;
}
.button-clear:focus{
  box-shadow: inset 0 0 0 3px var(--background-color-second);
}
.button-clear:hover, .breadcrumbs-link:not(.active):hover, .control:hover {
  opacity: 60%;
}
.button-clear:active, .breadcrumbs-link:not(.active):active, .control:active,
.select-control[disabled], .select-wrapper:has(.select-control[disabled])::after {
  opacity: 30%;
}
.button-clear[disabled] {
  opacity: 10%;
  background-color: transparent;
}
.button-mode {
  font-size: var(--size-small);
  line-height: var(--size-medium);
  padding: 12px 14px;
  border: 2px solid var(--forms-color-elements-1);
}
.button-mode:is(.active, :hover, :active) {
  border-color: var(--color-basic);
}
.button-mode:focus {
  border-color: var(--button-color-second-dark);
}
.heart-count {
  color: var(--color-default);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 11px;
}
.main-index, .main-inner {
  flex-grow: 1;
}
/*header*/
.main-header {
  background-color: var(--color-default);
  padding: 0 70px;
}
.logo-link {
  position: absolute;
  top: 0;
}
.logo {
  width: 140px;
  height: auto;
}
.main-header, .main-header .navigation-link:not(.button) {
  color: var(--color-basic);
  text-decoration: none;
  z-index: 1;
}
.navigation-list .navigation-link {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 16px;
}
.navigation-user .navigation-link {
  display: flex;
  align-items: center;
  padding: 20px 16px;
}
.main-header .navigation-link-active {
  box-shadow: inset 0 -2px var(--button-color-basic);
}
.navigation-item:last-of-type .navigation-link, .select-wrapper {
  position: relative;
}
.main-header .button {
  margin: 14px 0 14px 20px;
  font-size: var(--size-small);
  line-height: var(--size-medium);
}
.main-header, .navigation, .navigation-list, .navigation-user, .breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation {
  align-items: start;
  padding-left: 140px;
  width: 100%;
}
.navigation-list {
  flex-wrap: wrap;
  padding: 0;
  padding-left: 28px;
}
.navigation-user {
  margin-left: auto;
  padding: 0;
}
.navigation-user .navigation-link:not(.button) {
  padding: 22px 12px;
}
.navigation-link:not(.navigation-link-active, .button),
.navigation-link:not(.navigation-link-active) svg,
.phone-link, .htmlacademy-link {
  color: var(--color-basic);
}
.navigation-link:not(.navigation-link-active, .button):is(:hover, :focus),
.navigation-link:not(.navigation-link-active, .button):is(:hover, :focus) svg,
.phone-link:is(:hover, :focus), .htmlacademy-link:is(:hover, :focus) {
  color: var(--button-color-basic);
}
.navigation-link:not(.navigation-link-active, .button):active,
.navigation-link:not(.navigation-link-active, .button):active svg,
.phone-link:active, .htmlacademy-link:active {
  color: var(--button-color-basic-30);
}
/*main*/
.hero {
  background: url(../images/svg/mask.svg) no-repeat bottom, var(--background-color-second-50) url("../images/welcome-bg.jpg") no-repeat;
  background-size: 100% auto, 100% 100%;
  padding: 51px 371px 82px;
}
.welcome-image {
  display: block;
  width: 458px;
  height: auto;
}
.main-index, .main-inner .newsletter {
  text-align: center;
}
:is(.main-index, .main-inner) :is(input, .select-control) {
  font-family: inherit;
}
.main-index ul, .main-inner ul, .main-footer ul {
  padding: 0;
  list-style: none;
}
.section-description, .conditions-description, .main-inner .section-description  {
  color: var(--color-second);
}
.benefits .text-wrapper {
  padding: 69px 250px 90px;
}
.benefits .section-heading {
  margin-bottom: 25px;
}
.benefits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 385px;
}
.benefits-item {
  box-sizing: border-box;
}
.benefits-item:not(.benefits-item-image) {
  color: var(--color-second);
  background-color: var(--background-color-second-12);
  padding: 102px 85px;
}
.benefits-item:nth-child(3n) {
  background-color: var(--background-color-second-20);
}
.benefits-item:not(.benefits-item-image) .benefits-heading {
  color: var(--color-basic);
}
.benefits-wrapper {
  padding: 102px 85px;
}
.benefits-item-image {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-column: span 3;
  gap: 0;
  color: var(--color-default);
  background-color: var(--background-color-second);
}
.benefits-item-image:last-of-type {
  direction: rtl;
}
.benefits-heading {
  position: relative;
  margin-bottom: 62px;
}
.benefits-heading::after {
  position: absolute;
  content: '';
  top: 86px;
  left: 85px;
  right: 85px;
  height: 2px;
  width: 60px;
  background-color: var(--color-basic-30);
}
.benefits-item-image .benefits-heading::after {
  background-color: var(--color-default-30);
}
.benefits-image {
  display: block;
  width: 800px;
  height: auto;
}
.conditions-item:not(:nth-child(2n)) {
  background-color: var(--background-color-second-12);
}
.conditions .text-wrapper {
  padding: 64px 347px;
}
:is(.conditions, .search, .newsletter) .section-heading {
  margin-bottom: 20px;
}
.conditions-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: 385px;
}
.conditions-item {
  padding: 80px 85px;
}
.conditions-item:is(.house-image,.food-image,.gift-image)::before {
  content: url("../images/svg/house.svg");
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
}
.conditions-item.food-image::before {
  content: url("../images/svg/food.svg");
}
.conditions-item.gift-image::before {
  content: url("../images/svg/gift.svg");
}
.conditions-item .conditions-heading  {
  margin-bottom: 30px;
}
.search {
  padding: 96px 304px;
}
:is(.search, .newsletter) .section-description {
  margin-bottom: 54px;
}
.newsletter {
  padding: 96px 258px 104px;
}
.main-index .newsletter {
  color: var(--color-default);
  background: var(--forms-color) url("../images/background-subscribe.jpg") no-repeat;
  background-size: 100% 100%;
}
.newsletter .section-description {
  color: inherit;
}
.newsletter form {
  display: flex;
  justify-content: center;
}
.newsletter input {
  color: var(--color-basic);
  background-color: var(--forms-color-elements-2);
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  width: 100%;
  outline: none;
}
.newsletter input::placeholder {
  color: var(--color-basic-60);
  font-size: var(--size-small-2);
  line-height: var(--size-medium-3);
}
.newsletter input:hover {
  background-color: var(--forms-color-action);
}
.newsletter input:focus, .newsletter input:focus + .button {
  box-shadow: 0 0 0 3px var(--background-color-second);
}
.newsletter input + .button  {
  border-radius: 0 4px 4px 0;
}
/*inner*/
.inner-header-wrapper {
  color: var(--color-default);
  background: var(--forms-color) url("../images/background-wrapper.jpg") no-repeat;
  background-size: 100% 100%;
  padding: 35px 70px 70px;
}
.inner-header {
  margin-bottom: 8px;
}
.main-inner .breadcrumbs {
  margin-bottom: 40px;
}
.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
  content: url("../images/svg/breadcrumbs.svg");
  width: 8px;
  height: 21px;
  padding: 0 10px;
}
.breadcrumbs-link {
  display: flex;
  align-items: center;
}
.filters form {
  display: flex;
  gap: 70px;
}
.filters fieldset {
  border: none;
  padding: 0;
}
.filters fieldset.price-filter {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-left: auto;
}
.filters legend, .control-buttons-heading {
  font-size: var(--size-medium);
  line-height: var(--size-medium-3);
  font-weight: var(--text-bold);
  margin-bottom: 32px;
  padding: 0;
}
.filters-item  {
  font-size: var(--size-small-2);
  line-height: 23px;
}
.filters-item:not(:last-child)  {
  margin-bottom: 16px;
}
.control-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.control-buttons-heading {
  opacity: 0;
}
.control-buttons .button {
  padding: 8px 50px;
}
.filters-item .control  {
  position: relative;
  user-select: none;
  padding-left: 36px;
  cursor: pointer;
}
.filters-item .control-input  {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-default);
  border-radius: 4px;
}
.checkmark-radio {
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--forms-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkmark-radio:after {
  left: 25%;
  top: 25%;
  width: 0;
  height: 0;
  border-width: 0 10px 10px 0;
  border-radius: 50%;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.control-input:active + .checkmark {
  box-shadow: 0 0 0 2px var(--button-color-second);
}
.control-input:focus + .checkmark {
  box-shadow: 0 0 0 3px var(--button-color-second);
}
.price-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}
.control-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-basic-30);
  min-width: 143px;
}
.control-wrapper input {
  color: var(--color-basic);
  background-color: var(--forms-color-elements-2);
  font-weight: var(--text-bold);
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 103px;
}
.control-wrapper:last-child input {
  border-radius: 0 4px 4px 0;
}
.control-wrapper input::-webkit-inner-spin-button  {
  appearance: none;
  -webkit-appearance: none;
}
.control-wrapper input:focus {
  box-shadow: 0 0 0 3px var(--button-color-second);
  background-color: var(--forms-color-action);
}
.control-wrapper input:hover {
  background-color: var(--forms-color-action);
  opacity: 100%;
}
.control-wrapper label {
  position: absolute;
  right: 20px;
}
.double-range-slider {
  position: relative;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, var(--color-default) 75%, var(--color-default-30) 75%);
}
.range-track {
  position: absolute;
  height: 100%;
  background-color: var(--color-default);
}
.double-range-slider input {
  position: absolute;
  width: 100%;
  height: 4px;
  background: none;
  pointer-events: none;
  appearance: none;
  transform: translateY(-50%);
}
.double-range-slider input:first-of-type {
  left: -2px;
}
.double-range-slider input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: var(--color-default);
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.double-range-slider input::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: var(--color-default);
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 30%;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 70px 60px;
}
.sort-wrapper, .sort-control, .mode-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sort-control {
  gap: 70px;
}
.select-wrapper::after {
  content: url("../images/svg/arrow.svg");
  position: absolute;
  top: 17%;
  right: 20px;
  cursor: pointer;
}
.select-control {
  padding: 14px 20px;
  color: var(--color-second);
  min-width: 292px;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px var(--forms-color-elements-1);
  outline: none;
  cursor: pointer;
  appearance: none;
}
.select-control:not([disabled]):is(:hover, :focus) {
  box-shadow: inset 0 0 0 2px var(--button-color-second-dark);
}
.mode-wrapper {
  gap: 8px;
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid var(--forms-color-action);
}
.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  box-shadow: 0 0 0 1px var(--forms-color-action);
  border-radius: 4px;
}
.hotel-card:last-of-type {
  margin-bottom: 40px;
}
.hotel-link {
  grid-column: 1/-1;
  color: var(--color-basic);
  text-decoration: none;
  transition: all 0.2s ease;
}
.hotel-link:is(:hover, :active, :focus) {
  opacity: 0.6;
  transition: all 0.2s ease;
}
.hotel-image {
  display: block;
  height: 212px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 16px;
}
.hotel-info {
  color: var(--color-second);
}
.hotel-info:nth-of-type(2n) {
  justify-self: end;
}
.rating-stars.star-1 {
  background: url("../images/svg/star.svg") no-repeat center;
  background-position-x: left;
}
.rating-stars.star-2 {
  background: url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center;
  background-position-x: left, 24px;
}
.rating-stars.star-3 {
  background:  url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center;
  background-position-x: left, 24px, 48px;
}
.rating-stars.star-4 {
  background: url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center;
  background-position-x: left, 24px, 48px, 72px;
}
.rating-stars.star-5 {
  background: url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center, url("../images/svg/star.svg") no-repeat center;
  background-position-x: left, 24px, 48px, 72px, 96px;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pagination-item {
  color: var(--color-default);
  background-color: var(--button-color-second);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.pagination-item.active {
  color: var(--color-basic);
  background-color: var(--forms-color-elements-2);
  cursor: default;
}
.pagination-link, .pagination-dots {
  color: inherit;
  font-weight: var(--text-bold);
  font-size: var(--size-medium);
  line-height: var(--size-large-2);
  text-decoration: none;
  text-align: center;
  padding: 12px 8px;
  min-width: 60px;
  box-sizing: border-box;
}
.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*footer*/
.main-footer {
  display: grid;
  grid-template-columns: 142px 1fr 115px;
  grid-template-rows: 50px;
  align-items: center;
  padding: 40px 70px 30px;
}
.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--button-color-second);
}
.social-link:is(:hover, :focus) {
  color: var(--button-color-second-dark);
}
.social-link:active {
  color: var(--button-color-second-dark-30);
}
.phone-link {
  text-decoration: none;
  justify-self: center;
}
.htmlacademy-link {
  display: flex;
}
