.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.welcome {
  /*background: #9a9ba6 url(./images/welcome-background.jpg) no-repeat;*/
  background: url(../images/background-welcome.jpg) no-repeat;
}
.main-index .newsletter {
  /*background: #44666e url(./images/welcome-background.jpg) no-repeat;*/
  background: url(../images/background-subscribe.jpg) no-repeat;
}
.inner-header-wrapper {
  background: url(../images/background-wrapper.jpg) no-repeat;
}
